extend layout 

block content
  .row 
    - console.log(title)
    //- - if (apps.length !== 0) {
    //-     .col-md-4 
    //-     div hi
    //-     .col-md-8 
    //-     div hi
    //- - } else {
    //-     div no apps yet.
    //- - }