extend layout 

block content
  .row 
    if apps.length 
        div apps are present
    else 
        //- .col-md-2.col-md-offset-5.text-center.center-block
        .col-4.mx-auto.text-center.mt-5
            img(src="/box.png")
            h5.text-secondary.mt-4 Your Box is Empty 
            button.btn.btn-primary.mt-2(type="button") + Create App